#ceo {
  background: rgb(32, 32, 30);
  padding-top: 22rem;
  display: grid;
  font-family: Roboto-Light, Verdana, sans-serif;
}

#ceo-container {
  background-color: rgb(238, 238, 238);
  display: grid;
  justify-items: center;
  align-content: space-evenly;
  height: 320px;
  width: 65.3%;
  bottom: 63%;
  position: relative;
  img {
    position: absolute;
    border-radius: 100%;
    width: 60px;
    position: absolute;
    transform: translate(-2px, -30px);
  }
  @media screen and (max-width: 929px) {
    height: 580px;
    width: 95%;
    margin-block-start: 18rem;
  }
}

#bg3 {
  background: url('../img/gmap.jpg') center/cover no-repeat;
  height: 347px;
  display: grid;
  justify-items: center;
  align-content: center;
  @media screen and (max-width: 929px) {
    height: 750px;
  }
}

#ceo-text1 {
  margin-inline: 6.3rem;
  margin-top: 3.2rem;
  font-size: 1.05rem;
  text-align: center;
  line-height: 1.9rem;
  color: rgb(47, 47, 47);
  span {
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
  }
  @media screen and (max-width: 929px) {
    font-size: 1.2rem;
  }
  @media screen and (max-width: 564px) {
    margin-inline: 0;
  }
}

#ceo-text2 {
  font-size: 1.5rem;
  margin-top: 1.2rem;
  @media screen and (max-width: 929px) {
    font-size: 1.8rem;
  }
}

#ceo-text3 {
  color: rgb(177, 145, 122);
  margin-bottom: 2.9rem;
  @media screen and (max-width: 929px) {
    font-size: 1.25rem;
  }
}